:root {
  --font-heading: "Momo Trust Display", sans-serif;
  --font-main: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  background-color: #4bcdff;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #4bcdff;
  font-family: var(--font-main);
  width: 80%;
}

header {
  display: flex;
  padding: 1em 0;
  align-items: center;
  justify-content: space-between;
}

.header-city {
  font-family: var(--font-heading);
  font-size: 1.5rem;
}

.header-date {
  font-size: 0.75rem;
  background-color: black;
  color: #4bcdff;
  padding: 0.5em 1em;
  border-radius: 20px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* fix gap between header and main */

.result-container {
  text-align: center;
  padding-top: 2em;
}

.result-word {
  font-size: 7rem;
}

.daily-summary-container {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.temp-sky-wind {
  font-size: 1rem;
}

.daily-summary-p {
  font-size: 0.75rem;
  text-align: start;
}

.daily-numbers-container {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: #4bcdff;
  padding: 2em;
  border-radius: 10px;
}

.current-info {
  text-align: center;
}

.icon {
}

.number-info {
  font-weight: bold;
}

.type-info {
  font-size: 0.75rem;
}

.weekly-forecast-container {
}

.weekly-forecast-title {
}

.daily-boxes-container {
}

.daily-box {
}

.daily-box-temp {
}

.daily-box-icon {
}

.daily-box-date {
}
