:root {
  --font-heading: "Momo Trust Display", sans-serif;
  --font-main: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  background-color: #4bcdff;
}

.container {
  display: flex;
  flex-direction: column;
  font-family: var(--font-main);
  width: 80%;
}

header {
  display: flex;
  padding: 1em 0;
  align-items: center;
  justify-content: space-between;
}

.header-city {
  font-family: var(--font-heading);
  font-size: 1.5rem;
}

.header-date {
  font-size: 0.75rem;
  background-color: black;
  color: #4bcdff;
  padding: 0.5em 1em;
  border-radius: 20px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* fix gap between header and main */

.result-container {
  text-align: center;
  padding-top: 2em;
}

.result-word {
  font-size: 9rem;
}

.daily-summary-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.temp-sky-wind {
  font-size: 1.2rem;
}

.daily-summary-p {
  font-size: 0.75rem;
  text-align: start;
  font-weight: 600;
}

.daily-numbers-container {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: #4bcdff;
  padding: 2em;
  border-radius: 10px;
}

.current-info {
  text-align: center;
}

.icon {
  color: #4bcdff;
  width: 50px;
}

.temp-info {
  font-size: 2.2rem;
  font-weight: 500;
}

.number-info {
  font-weight: bold;
}

.type-info {
  font-size: 0.6rem;
  color: #5696ae;
}

.weekly-forecast-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.weekly-forecast-title {
  font-weight: bold;
  font-size: 1.2rem;
  color: black;
}

.daily-boxes-container {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.daily-box {
  text-align: center;
  border: 2px solid black;
  border-radius: 12px;
  padding: 0.8em;
}

/* .daily-box-temp {
}

.daily-box-icon {
} */

.daily-box-date {
  font-size: 0.6rem;
  font-weight: bold;
}
